<a href="https://colab.research.google.com/github/kamal-ganwani/python_basic_practice/blob/main/Python_W5_D2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
x=[1,2,3]
print(type(x))

<class 'list'>

In [ ]:
class AxisBank:
  #Code Block
  pass

In [ ]:
customer1=AxisBank()
customer2=AxisBank()

In [ ]:
customer1

In [ ]:
class AxisBank: #ClassName
  def identity(self,name): #MethodName
    print(f'{name} is a Customer of AxisBank')

In [ ]:
customer1=AxisBank()

In [ ]:
customer1.identity('Virat')  #-->Batch.identity(customer1,'Virat) #Self-->FutureObject

Virat is a Customer of AxisBank

In [ ]:
customer2=AxisBank()

In [ ]:
customer2.identity('Sachin')

Sachin is a Customer of AxisBank

In [ ]:
print(customer1)

<__main__.AxisBank object at 0x7e744bf26c20>

In [ ]:
class AxisBank: #class
  def identity(self,name): #Method
    self.name=name #attribute

In [ ]:
customer1=AxisBank()
customer1.identity('Rohit Sharma') #-->Batch.identity(customer1,'Rohit Sharma')

In [ ]:
customer2=AxisBank()
customer2.identity('Virat kohli')

In [ ]:
customer1.name

'Rohit Sharma'

In [ ]:
customer2.name

'Virat kohli'

In [ ]:
class AxisBank:
  def set_name(self,name):
    self.name=name

  def set_age(self,age):
    self.age=age

In [ ]:
c1=AxisBank()
c2=AxisBank()

In [ ]:
c1.set_name('Sachin')
c1.set_age(44)

c2.set_name('Virat')
c2.set_age(34)

In [ ]:
c1.name

'Sachin'

In [ ]:
c1.age

44

In [ ]:
class AxisBank:
  def set_info(self,name,age):
    self.name=name #'Dhoni'
    self.age=age #40

a=AxisBank()
b=AxisBank()
c=AxisBank()
d=AxisBank()

a.set_info('Dhoni',40)
b.set_info('Saurav',50)
c.set_info('Virat',34)
d.set_info('Rohit',33)

In [ ]:
print(f'Hello Welcome to indian Team {a.name},{b.name},{c.name} and {d.name}')
print(f'Hello Welcome to indian Team {a.age},{b.age},{c.age} and {d.age}')

Hello Welcome to indian Team Dhoni,Saurav,Virat and Rohit
Hello Welcome to indian Team 40,50,34 and 33

In [ ]:
class AxisBank:
  def __init__(self):
    pass

In [ ]:
c1=AxisBank()
c2=AxisBank()

In [ ]:
c1.name,c1.age

('Virat', 34)

In [ ]:
c2.name,c2.age

('Sachin', 44)

In [ ]:
class AxisBank:

  def __init__(self):
    print(self)

  def set_info(self,name,age):
    self.name=name #'Dhoni'
    self.age=age #40

a=AxisBank()
b=AxisBank()
c=AxisBank()
d=AxisBank()

a.set_info('Dhoni',40)
b.set_info('Saurav',50)
c.set_info('Virat',34)
d.set_info('Rohit',33)

<__main__.AxisBank object at 0x7e744bf25b40>
<__main__.AxisBank object at 0x7e744bf277f0>
<__main__.AxisBank object at 0x7e744bf26380>
<__main__.AxisBank object at 0x7e744bf27430>

In [ ]:
print(f'Hello Welcome to indian Team {a.name},{b.name},{c.name} and {d.name}')
print(f'Hello Welcome to indian Team {a.age},{b.age},{c.age} and {d.age}')

Hello Welcome to indian Team Dhoni,Saurav,Virat and Rohit
Hello Welcome to indian Team 40,50,34 and 33

In [ ]:
class AxisBank:
  def __init__(self,name,age):
    self.name=name
    self.age=age

s1=AxisBank('Virat',34)
s1.name,s1.age

('Virat', 34)

In [ ]:
class AxisBank:
  def set_info(self,name,age):
    self.name=name
    self.age=age

s1=AxisBank()
s1.set_info('Virat',34)
s1.name,s1.age

('Virat', 34)

In [ ]:
class AxisBank:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def __str__(self):
    return f'Account Holder Name:{self.name} and Account Holder Age: {self.age}'

s1=AxisBank('Virat',34)
s2=AxisBank('Rohit',33)
s3=AxisBank('Dhoni',40)
s4=AxisBank('Sachin',44)

In [ ]:
print(s1)

Account Holder Name:Virat and Account Holder Age: 34

In [ ]:
print(s2)

Account Holder Name:Rohit and Account Holder Age: 33

In [ ]:
print(s3)

Account Holder Name:Dhoni and Account Holder Age: 40

In [ ]:
import random

class AxisBank:
  def __init__(self,name,age):
    self.name=name
    self.age=age

    self.ACNO=random.randint(100,10000)
    self.currentBalance=1000
    self.password=1234

  def __str__(self):
    return f'Account Holder Name: {self.name}, and Account Holder Age: {self.age}'

  def getACNO(self):
    return self.ACNO

  def getCurrentBalance(self):
    return self.currentBalance

  def setCreditBalance(self,amount):
    self.currentBalance=self.currentBalance + amount

  def setDebitBalance(self,amount):
    self.currentBalance=self.currentBalance-amount

In [ ]:
x=AxisBank('Virat',34)

In [ ]:
print(x)

Account Holder Name: Virat, and Account Holder Age: 34

In [ ]:
x.getCurrentBalance()

1000

In [ ]:
x.setCreditBalance(5000)

In [ ]:
x.getCurrentBalance()

6000

In [ ]:
x.setDebitBalance(2000)

In [ ]:
x.getCurrentBalance()

4000

In [ ]:
y=AxisBank('Sachin',44)

In [ ]:
print(y)

Account Holder Name: Sachin, and Account Holder Age: 44

In [ ]:
y.getCurrentBalance()

1000

In [ ]:
y.password

1234

In [ ]:
class Animal:
  def speak(self):
    print('Animal Speak')

class Dog(Animal):
  def bark(self):
    print('Dog Barks')

class puppy(Animal):
  def play(self):
    print('Woof Woof')

In [ ]:
p=puppy()

In [ ]:
p.play()

Woof Woof

In [ ]:
p.bark()

Dog Barks

In [ ]:
p.speak()

Animal Speak

In [ ]:
class Myclass:
  def __init__(self):
    self.x='I am Public'

  def y(self):
    return "This is a public Method"

In [ ]:
obj=Myclass()
print(obj.x)
print(obj.y())

I am Public
This is a public Method

In [ ]:
class Myclass:
  def __init__(self):
    self._x='I am Public'

  def _y(self):
    return "This is a public Method"

In [ ]:
obj=Myclass()
print(obj._x)
print(obj._y())

I am Public
This is a public Method

In [ ]:
class Myclass:
  def __init__(self):
    self.__x='I am Private'

  def __y(self):
    return "This is a Private Method"

In [ ]:
obj=Myclass()
print(obj._Myclass__x)
print(obj._Myclass__y())

I am Private
This is a Private Method

In [ ]:
#public  method
#protected  _method
#private    __method

In [ ]:
import re

pattern=r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}'
text="In a digital age where communication is paramount, diverse email formats cater to various needs. John.Doe@example.com represents the conventional, while EmmaSmith123@gmail.com adds a touch of personalization. Business-minded individuals may opt for contact@companyname.com, emphasizing professionalism. Creative souls might embrace the quirky with ArtisticMind@emailprovider.net. Students often utilize firstname.lastname@studentuniversity.edu for academic correspondence. Social media influencers, like SocialGuru@gmail.com, blend personal and professional spheres. Tech enthusiasts may appreciate CodeMaster@emailhost.org, showcasing their expertise. Health-conscious individuals might prefer WellnessJunkie@emailservice.com. In the vast realm of email, the possibilities are as varied as the individuals who compose them."



result=re.findall(pattern,text)

for i in result:
  print(i)

John.Doe@example.com
EmmaSmith123@gmail.com
contact@companyname.com
ArtisticMind@emailprovider.net
firstname.lastname@studentuniversity.edu
SocialGuru@gmail.com
CodeMaster@emailhost.org
WellnessJunkie@emailservice.com

In [ ]:
import re

pattern = r'\w+ing'
text= 'A Walking is a good excercise running'

x=re.match(pattern,text)

In [ ]:
x

In [ ]:
import re

pattern = r'\w+ing'
text= 'A is a good excercise running'

x=re.search(pattern,text)
x

In [ ]:
import re

pattern = r'\w+ing'
text= 'A walking is a good excercise running'

x=re.search(pattern,text)
result=re.findall(pattern,text)

In [ ]:
x

In [ ]:
result

['walking', 'running']

In [ ]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.8 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [ ]:
import pymysql

In [ ]:
connection=pymysql.connect(
    host='your_host',
    user='your_username',
    password='your_password',
    database='your_database',
    port=3306
)

OperationalError: (2003, "Can't connect to MySQL server on 'your_host' ([Errno -2] Name or service not known)")